.App {
  text-align: center;
  width: 979px;
  height: 853px;
  margin: auto;
  background-image: url("../public/bingo_jailer2.png");
}

.App-header {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-actions {
  margin-bottom: 15px;
}

.App-actions button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  line-height: 1.15;
  font-weight: bold;
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  background-color: transparent;
}
